# Core functionality - changes here should be rare!
/src/app.py                   @wicaksana
/src/backend/database.py      @wicaksana
/src/backend/routers/auth.py  @wicaksana

# The frontend will need refactored soon to be more object oriented.
/src/static/   @wicaksana
